html, body {
    margin: 0;
    font-size: 18px;
    background-image: url(../images/gradient_squares.png);
    background-repeat: repeat;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    height: 100%;
}

.container {
    min-height: 100%;
}

header {
    background-color: #fff;
    width: 100%; 
    height: 85px;
    margin: auto;
    border-bottom: 2px solid;
    border-color: #ccc;
}

.logo {
    background-color: #4AAAA5;
    color: #fff;
    float: left;
    width: 140px;
    height: 85px;
    padding: 0px 50px 0px 50px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
}

a{
    color: #777;
    text-decoration: none;
}

a:hover {
    color: #4AAAA5;
}

a:focus {
    color: #DE8B61;
    text-decoration: underline;
}

.nav {
    color: #ddd;
    text-align: right;
    padding: 30px 10px 25px 0px;
    background-color: #fff;

}

h2 {
    font-size: 30px;
}

.mainContent {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 25px;
    width: 908px; 
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    height: 800px;
    border: 1px #ddd solid;
}

.mainContact {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 25px;
    width: 908px; 
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    height: 585px;
    border: 1px #ddd solid;
}

.mainPortfolio {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 25px;
    width: 908px; 
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    height: 910px;
    border: 1px #ddd solid;
}

hr {
    height: 3px;
    background-color: #ddd;
    border: none;
}
#bodyHeader {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4AAAA5;
}

#photo {
    height: 218px;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px #ddd solid;
}

#img1 {
    position: relative;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 30px;
    float: left;
}

#text-block {
    position: absolute;
    text-align: center;
    font-size: 22px;
    bottom: 15px;
    background-color: #4AAAA5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

#bio {
    margin-top: 21px;
    line-height: 26pt;
}

input {
    font-size: 16px;
    text-align: left;
    color: #777;
    font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

textarea {
    font-size: 16px;
    text-align: left;
    color: #777;
    font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: 1px solid #ddd;
}

.input1 {
    height: 30px;
    width: 100%;
}

.input2 {
    height: 200px;
    width: 100%;
    padding-top:0;
}

.submitButton {
    background-color: #4AAAA5;
    color: #fff;
    float: left;
    width: 120px;
    height: 42px;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

footer {
    background-color: #666;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #999;
    padding: 40px 0px 5px 0px;
    margin-top: 0px;
    border-top: 8px solid;
    border-color: #4AAAA5;
    width: 100%;
}
